@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {

    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {

    html {
        font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

header {
    background-color:#f2f7fa;
}

.nav {
    padding:0;
    list-style-type: none;
    
}
.nav a{
    display: block;
    text-decoration: none;
    color:black;
    text-align: right;
}

.nav a:hover {
    color:#ff1d8e;
}

.whitetype {
    color: white;
}

.sectionpink {
    color:#ff1d8e;
}

.sectionblue {
    color: #2f368f;
}

.backtotop {
    display: inline-block;
    text-align: right;
} 

footer {
    background-color: #ff1d8e;
}

footer p {
    color: white;
}

.footer ul a::after {
    content: " ·";
}

.footer li:last-child a::after {
    content: none;
}

button:hover {
    color:#ff1d8e;
}
  
button:active {
    border-color:#ff1d8e;
}

button{  
    position:relative;
    border:2px solid #f2f7fa;
    background-color:#f2f7fa;
    color:black;
    border-radius: 10px;
    font-family: "Raleway" sans-serif;
    text-decoration: none;
}

.image { 
   position: relative; 
   width: 100%;
}
 
.billboard {
    padding-top: 6em;
    background-image: url(images/billboard.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height: 500px;
}

h2 {
    font-weight: 500;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
}

.scroll {
    background-color:#ff1d8e ;
}

figcaption {
    text-align: center;
}

.about {
    background-color:#f2f7fa;
}

.icons {
    height: 60%;
    width: 60%;
}

@media only screen and (min-width: 20em) {
    
    .nav li {
     display:inline-block;
    }
    
    .nav {
    text-align: center;
    }
    
    h1 {
        text-align: center;
}

@media only screen and (min-width: 44em) {
    
    .nav {
        text-align: right;
    }
     
     .nav {
    text-align: right;
    }
}

@media only screen and (min-width: 60em) {
    
     .nav {
        text-align: right;
    }
     
     .nav {
    text-align: right;
    }
}