@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {

    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {

    html {
        font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none; 
}

.skip-links a {
    position: absolute;
    top:-3em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-size: 1.25em;
}

.skip-links a:focus {
    top: 0;
}

a:hover,
a:active {
    /* Its okay to remove the focus rectangle for mouse users
        ITS NOT OLAY TO REMOVE FOR KEYBOARD USERS
    */
    outline: none;
}

a:focus {
    outline: 3px solid #000;
}

header {
    background-color:#f2f7fa;
}

.nav {
    padding:0;
    list-style-type: none;
    
}
.nav a{
    display: block;
    text-decoration: none;
    color:black;
    text-align: right;
}

.nav a:hover {
    color:#ff1d8e;
}

.whitetype {
    color: white;
}

.sectionpink {
    color:#ff1d8e;
    text-decoration: none;
}

.sectionblue {
    color: #2f368f;
}

.backtotop {
    display: inline-block;
    text-align: right;
} 

footer {
    background-color: #ff1d8e;
}

footer p {
    color: white;
}

.footer ul a::after {
    content: " ·";
}

.footer li:last-child a::after {
    content: none;
}

.getstarted:hover {
    color:#ff1d8e;
}
  
.getstarted:active {
    border-color:#ff1d8e;
}

button{  
    position:relative;
    border:2px solid #f2f7fa;
    background-color:#f2f7fa;
    color:black;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.getstarted {
    text-decoration: none;
}

logo {
    text-decoration: none;
    color: #ff1d8e;
}

.image { 
   position: relative; 
   width: 100%;
}
 
.billboard {
    background-image: url(images/billboard.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

h2 {
    font-weight: 500;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid white;
    margin: 0 auto;
}

.scroll {
    background-color:#ff1d8e;
    text-align: center;
}

figcaption {
    text-align: center;
}

.about {
    background-color:#f2f7fa;
}

.icon {
    margin: 0 auto;
}

.figimg{
    width: 30%;
    margin: 0 auto;
}

label {
 display: block;
}

input + label {
 display: inline-block;
 }

.text-input {
    width: 100%;
    height: 3em;
}

.text-box {
    width:100%;
    height:15em;
}

form {
    max-width: 35em;
    margin: 0 auto;
}

.radio {
    white-space: nowrap;
}




@media only screen and (min-width: 20em) {
    
    .nav li {
     display:inline-block;
    }
    
    .nav {
    text-align: center;
    }
    
    h1 {
    text-align: center;
    }
}

@media only screen and (min-width: 44em) {
    
    .nav {
        text-align: right;
    }
     
     .nav {
    text-align: right;
    }
}

@media only screen and (min-width: 60em) {
    
     .nav {
        text-align: right;
    }
     
     .nav {
    text-align: right;
    }
    
    .billboard {
        height: 500px;
    }
}